<h1><%= @question.subject %></h1>
<div class="question">
	<%= @question.id%>. <%= @question.content %>
</div>
<div class="choices">
	<label class="radio">
	  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	  A. <%=@question.answers[0].content %>
	</label>
	<label class="radio">
	  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	  B. <%= @question.answers[1].content %>
	</label>
	<label class="radio">
	  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
	  C. <%= @question.answers[2].content %>
	</label>
	<label class="radio">
	  <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
	  D. <%= @question.answers[3].content %>
	</label>
</div>
<div class="submit-buttons">
  <%= link_to "Submit Answer", question_path(@question.id+1), class: "btn btn-primary btn-sm" %>
  <button type="submit" class="btn btn-success btn-sm">Score Exam</button>
</div>
<nav>
  <ul class="pagination">
    <li>
      <% if @question.id == 0 %>
      	<a href=<%=question_path(@question.id-1)%> aria-label="Previous">
        	<span aria-hidden="true">&laquo;</span>
      	</a>
      <% end %>
    </li>
    <% @count.times do |i| %>
    	<li><a href=<%=question_path(i+1)%>><%=i+1%></a></li>
    <% end %>
    <li>
   	  <% if @question.id < @count %>
      	<a href=<%=question_path(@question.id+1)%> aria-label="Next">
        	<span aria-hidden="true">&raquo;</span>
      	</a>
      <% end %>
    </li>
  </ul>
</nav>
