<h1>Review</h1>
<% @subject = params[:subject] %>
<% @answers = session[:answers] %>
<% @questions = Question.where(subject: @subject) %>
<% @count = @questions.count %>
<% @incorrect = "\"border: solid red 2px;\"".html_safe %>
<% @correct_answer = "\"border: solid green 2px; border-radius: 10px;\"".html_safe %>

<% @count.times do |i| %>
	<div class ="question-container" style=<%= @answers[i] == correct_answer(@questions[i]) ? "" : @incorrect %>>
		<div class="question">
			<%=i+1%>. <%= @questions[i].content %>
		</div>
		<div class="choices">
			<label class="radio disabled" style=<%= "A" == correct_answer(@questions[i]) ? @correct_answer : "" %>><%= radio_button_tag @questions[i].id, "A", @answers[i] == "A" ? true : false, disabled: true%> A. <%=@questions[i].answers[0].content%></label>
			<label class="radio disabled" style=<%= "B" == correct_answer(@questions[i]) ? @correct_answer : "" %>><%= radio_button_tag @questions[i].id, "B", @answers[i] == "B" ? true : false, disabled: true%> B. <%=@questions[i].answers[1].content%></label>
			<label class="radio disabled" style=<%= "C" == correct_answer(@questions[i]) ? @correct_answer : "" %>><%= radio_button_tag @questions[i].id, "C", @answers[i] == "C" ? true : false, disabled: true%> C. <%=@questions[i].answers[2].content%></label>
			<label class="radio disabled" style=<%= "D" == correct_answer(@questions[i]) ? @correct_answer : "" %>><%= radio_button_tag @questions[i].id, "D", @answers[i] == "D" ? true : false, disabled: true%> D. <%=@questions[i].answers[3].content%></label>
		</div>
	</div>
<% end %>